body {
	background-image: url("/media/phatlarge.png");
	background-color: #2e5c7c;
	background-size: auto 820px;
	background-repeat: no-repeat;
}

.text-black {
	color: #111;
}

.block-grey {
	background-color: #ccc;
}

.block-white {
	background-color: white;
}

.bmt-1 {
	margin-top: 60px;
}

.bmt-2 {
	margin-top: 120px;
}

.bmt-3 {
	margin-top: 180px;
}

.bmt-4 {
	margin-top: 240px;
}

.bmt-5 {
	margin-top: 300px;
}

.bmt-6 {
	margin-top: 360px;
}

.bmt-7 {
	margin-top: 420px;
}

.bmt-8 {
	margin-top: 480px;
}

.bpt-1 {
	padding-top: 60px;
}

.bpt-2 {
	padding-top: 120px;
}

.bpt-3 {
	padding-top: 180px;
}

.bpt-4 {
	padding-top: 240px;
}

.bpb-1 {
	padding-bottom: 60px;
}

.bpb-2 {
	padding-bottom: 120px;
}

.bpb-3 {
	padding-bottom: 180px;
}

.bpb-4 {
	padding-bottom: 240px;
}
